flask
flask-cors
flask-sqlalchemy
flask-migrate
python-dotenv
PyJWT
bcrypt
deepface
tf-keras
opencv-python-headless
scipy
requests
langdetect
google-generativeai
python-magic
PyMuPDF
python-docx
python-pptx
gunicorn
